#parse("/sys/sys_param.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
    #parse("/mer/head.vm")

<!--二维码-->

<body>
<header>
    <div class="us-nav" >
        <div class="col-xs-2  box-round">
        </div>
        <div class="col-xs-8">
            <h4 class="text-center ">我的二维码</h4>
        </div>
    </div>
</header>
<script src="$!{RESOURCE_PATH}/js/qrcode.js"></script>

<div class="container qrcode">
    <div class="top">
        #if(!${qrCode})
            <label>提示：</label>
            <p>您还不是东家，生成的是本公众号二维码。请点击下方立即购买按钮成为东家，生成个人专属推二维码。</p>
            <img src="${RESOURCE_PATH}/images/qrcode.jpg" alt="二维码" />
        #else
            <div id="qrCode"></div>
        #end

        <span>长按识别图中二维码</span>
    </div>
    <div class="btnbox">
        <a href="$!{CONTEXT_PATH}/mer/init?openId=$!{openId}"><button type="button" class="btn btn-success" onclick="">立即购买</button></a>
    </div>
</div>
<div class="nav-bottom">
    <div class="col-xs-3 ">
        <a href="$!{CONTEXT_PATH}/mer/init?openId=$!{openId}">
            <i class="fa fa-home"></i>
            <p>立即购买</p>
        </a>
    </div>
    <div class="col-xs-3 ">
        <a href="$!{CONTEXT_PATH}/order/init?openId=$!{openId}" >
            <i class="fa fa-file"></i>
            <p>我的订单</p>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="$!{CONTEXT_PATH}/user/initUser?openId=$!{openId}" >
            <i class="fa fa-group"></i>
            <p>家族成就</p>
        </a>
    </div>
    <div class="col-xs-3 current">
        <a href="$!{CONTEXT_PATH}/card/init?openId=$!{openId}">
            <i class="fa fa-qrcode"></i>
            <p>我的二维码</p>
        </a>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#qrCode').qrcode({
            text: "${qrCode}",
            height: 200,
            width: 200,
            src: "${img}"
        });
    });
</script>
</html>