#parse("/sys/sys_param.vm")
<!DOCTYPE html>
<html lang="zh-cn">
    #parse("/mer/head.vm")
    <body class="group">
        <div class="container us-container " id="main">
            <header>
                <div class="us-nav">
                    <div class="col-xs-2  box-round">
                        <a href="javascript:void(0)"><span class="fa fa-arrow-left  us-nav-pf"></span></a>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="text-center">$!{mer.gdsTitle}</h4>
                    </div>
                    <div class="col-xs-2 text-right box-round">
                    </div>
                </div>
            </header>
			<div id="carousel-silde" class="owl-carousel">
        #foreach($pic in $merPics)
		        <a class="item"><img  src="$!{RESOURCE_PATH}/images/${pic.picUrl}" ></a>
        #end
##		        <a class="item"><img  src="$!{RESOURCE_PATH}/images/p-3.jpg" ></a>
##		    	<a class="item"><img  src="$!{RESOURCE_PATH}/images/p-3.jpg" ></a>
		    </div>
            <section class="gd-con">
                    <div class="gd-title">
                        <dl>
                            <dt class="phone-name">
                                $!{mer.gdsTitle}
                            </dt>
                            <dd>
                                价格：<span  class="price">￥<strong>$!number.format("#0.00",$math.div(${mer.gdsPrice},"100"))</strong></span>
                            </dd>
                        </dl>
                    </div>
                <form id="goodForm">
                <div class="type-choose">
                    <div class="list-group bg-white">
                        <a href="javascript:void(0)" class="list-group-item">
                            <input type="checkbox" id="first" name="gdsCount" value="1"/> 数量：1
                        </a>
                        <a href="javascript:void(0)" class="list-group-item">
                            <input type="checkbox" id="second" name="gdsCount" value="2"
                                disabled
                             /> 数量：2
                        </a>
                        <a href="javascript:void(0)" class="list-group-item">
                            <input type="checkbox" id="third" name="gdsCount" value="3"
                                   disabled
                            /> 数量：3
                        </a>
                    </div>
                </div>
                    <div class="gd-choose">
                        <dl class="gd-price">
	                        <dt class="hint">总价</dt>
	                        <dd class="pull-right" id="gdsAmountShow">
		                        ￥0.00
	                        </dd>
                            <input type="hidden" name="gdsAmount" >
                            <input type="hidden" name="gdsPrice" value="$!{mer.gdsPrice}">
                            <input type="hidden" name="openId" value="$!{openId}">
                            <input type="hidden" name="gdsId" value="$!{mer.gdsId}">
                        </dl>
                    </div>
                </form>
                    <div class="fudong">
                        <a href="javascript:void(0)" onclick="goMain('goodForm','$!{CONTEXT_PATH}/mer/orderInit')" class="btn btn-orange btn-block" id="button">
                        	￥0.00
							立即购买
						</a>
                    </div>
             </section>
        </div>
            #parse("/mer/menu.vm")
    </body>
<SCRIPT TYPE="text/javascript">
    $("input[name='gdsCount']").click(function(){
        var moneys=0.00;
        var money=$!number.format("#0.00",$math.div(${mer.gdsPrice},"100")) ;
        $("input[name='gdsCount']").each(function (){
            if ($(this).prop("checked")) {
                moneys=$(this).val()*money+moneys;
            };
        });

            if($(this).prop("checked")){
                $(this).parent().next().find("input").first().removeAttr("disabled");
                $(this).parent().prev().find("input").first().attr("disabled",true);
            }else{

                $(this).parent().next().find("input").first().attr("disabled",true);
                $(this).parent().prev().find("input").removeAttr("disabled");
            }


        $("input[name='gdsAmount']").val(moneys*100);
        $("#gdsAmountShow").html("¥"+moneys.toFixed(2));
        $("#button").html("¥"+moneys.toFixed(2)+"立即购买");

    });
    function goMain (formId,path) {
        var data=$("#"+formId).serialize();
        $("#main").load(path,data);
    }
</SCRIPT>
</html>
