<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--这一句处理对静态资源的访问-->
    <mvc:default-servlet-handler />
    <!--这一句指定了扫描注解生成Controller的根包名-->
    <context:component-scan base-package="com.core.*" />
    <!--这一句相当于开启注解扫描功能-->
    <mvc:annotation-driven />
    <!-- 避免IE在ajax请求时，返回json出现下载 -->
    <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean class="com.core.util.BeanFactory" scope="singleton" lazy-init="false"/>
    <!--规定模板文件的类型和位置-->
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">utf-8</prop>
                <prop key="output.encoding">utf-8</prop>
            </props>
        </property>
    </bean>
    <!--配置附加工具，以及将后缀为vm的文件交给下面的Resolver处理-->
    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="suffix" value=".vm" />
        <property name="contentType" value="text/html;charset=utf-8" />
        <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>
    </bean>
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash; 日志拦截器 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/static/**" />-->
            <!--<bean class="com.core.util.SessionFilter" >-->
            <!--<property name="excludes">-->
                <!--<list>-->
                    <!--<value>/welcome</value>-->
                    <!--<value>/weixin</value>-->
                    <!--<value>/mer/init</value>-->
                    <!--<value>/mer/detail</value>-->
                    <!--<value>/mer/orderInit</value>-->
                    <!--<value>/mer/code</value>-->
                    <!--<value>/mer/submit</value>-->
                    <!--<value>/user/initUser</value>-->
                    <!--<value>/code</value>-->
                    <!--<value>/order/init</value>-->
                    <!--<value>/order/notify</value>-->
                    <!--<value>/order/show</value>-->
                    <!--<value>/user/initUser</value>-->
                    <!--<value>/cache</value>-->
                    <!--<value>/cache/area</value>-->
                    <!--<value>/createMenu</value>-->
                    <!--<value>/login</value>-->
                    <!--<value>.css</value>-->
                    <!--<value>.js</value>-->
                    <!--<value>.jpg</value>-->
                    <!--<value>.woff</value>-->
                    <!--<value>.svg</value>-->
                    <!--<value>.ttf</value>-->
                    <!--<value>.png</value>-->
                    <!--<value>.gif</value>-->
                    <!--<value>.swf</value>-->
                    <!--<value>.html</value>-->
                    <!--<value>.vm</value>-->
                <!--</list>-->
            <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>